# --- Python ---
env
.pytest_cache
**/__pycache__
*.pyc

# --- Pycharm ---
.idea

# --- Git ---
.git
.gitignore

# --- Docker ---
Dockerfile
.dockerignore

# --- Heroku ---
Procfile

# --- CircleCI ---
.circleci


